@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Koulen&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 18px;
    color: aquamarine;
}

:root {
    --dark: #1E0E4C;
    --primary: #3D06D7;
    --primary-light: #906FEE;
    --light-grey: #CFCADF;
}